.players {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-around;
}
.top {
  background-color: var(--color-primary-dark);
  height: 23%;
  width: 100%;
}
.player {
  min-height: 480px;
  /* height: 100%; */
  margin: 1em 1em;
  flex-basis: 22%;
  overflow: hidden;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.6s;
}
.player:hover {
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.521);
}
.matches {
  display: flex;
  justify-content: space-around;
  padding: 0em 0;
}
.buttons {
  display: flex;
  justify-content: space-around;
  margin: auto;
  margin: 1em 0;
  align-items: center;
}
.players h3 {
  text-align: center;
  font-family: var(--font-display);
  text-transform: uppercase;
}
.players h4 {
  text-align: center;
  font-size: var(--font-text);
  font-family: var(--font-serif);
  color: rgb(82, 76, 76);
}
.about {
  margin-top: 1em;
  padding: 0 1em;
  text-align: left;
  font-size: var(--font-text-small);
}
.buttons button {
  background-color: var(--color-primary);
  outline: none;
  border-radius: 5px;
  font-weight: 500;
  transition: 0.3s;
  font-size: var(--font-text);
  display: inline-block;
  padding: 0.4em 0.8em;
  border: none;
  color: white;
}
button:hover {
  background-color: var(--color-primary-dark);
  cursor: pointer;
}
.player-img {
  border-radius: 50%;
  height: 120px;
  display: block;
  margin: 0 auto;
  margin-top: -23%;
  border: 5px solid white;
}

@media screen and (max-width: 1250px) {
  .player {
    flex-basis: 28%;
  }
  .buttons {
    margin: 2em 0;
  }
}
@media screen and (max-width: 1100px) {
  .player {
    flex-basis: 35%;
  }
  .buttons {
    margin: 2em 0;
  }
}
@media screen and (max-width: 768px) {
  .player {
    flex-basis: 40%;
  }
}
@media screen and (max-width: 680px) {
  .buttons button {
    font-size: var(--font-text-small);
  }
  .players h3 {
    font-size: var(--font-text-small);
  }
  .players h4 {
    font-size: var(--font-text-small);
  }
  .player-img {
    height: 115px;
    margin-top: -28%;
  }
  .player {
    flex-basis: 44%;
  }
}
@media screen and (max-width: 533px) {
  .player {
    flex-basis: 60%;
  }
  .player-img {
    margin-top: -23%;
  }
  .buttons {
    margin: 2em 0;
  }
}
@media screen and (max-width: 422px) {
  .player {
    flex-basis: 74%;
  }
}
@media screen and (max-width: 350px) {
  .player {
    flex-basis: 82%;
  }
  .top {
    height: 20%;
  }
  .player-img {
    height: 100px;
  }
}
