@import "./Variables.css";

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-sans);
  background-color: var(--color-grey-light-1);
}
.players {
  display: flex;
  flex-wrap: wrap;
}
.player {
  border: 1px solid red;
  margin: 10px 0 0 10px;
  flex: 1 0 21%;
  padding: 10px;
  border-radius: 15px;
  background-color: var(--color-grey-light-2);
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.2);
}
.buttons {
  display: flex;
  justify-content: space-around;
}
h2,
h3,
h4,
h5,
p {
  text-align: center;
  margin: auto;
}
.about {
  margin: 10px;
}
button {
  background-color: var(--color-primary-light);
  outline: none;
  border-radius: 5px;
  font-weight: 500;
  transition: 0.3s;
  font-size: 1rem;
  display: inline-block;
  padding: 5px;
  border: none;
  color: whitesmoke;
}
button:hover {
  cursor: pointer;
  outline: none;
  transform: scale(1.025);
  font-weight: 500;
  color: #fff;
}
.player-img {
  border-radius: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 420px) {
  .player {
    border: 1px solid red;
    margin: 10px 0 0 10px;
    flex: 1 0 100%;
    padding: 10px;
    border-radius: 15px;
    background-color: var(--color-grey-light-2);
    box-shadow: inset;
  }
}

@media screen and (min-width: 420px) and (max-width: 675px) {
  .player {
    border: 1px solid red;
    margin: 10px 0 0 10px;
    flex: 1 0 41%;
    padding: 10px;
    border-radius: 15px;
    background-color: var(--color-grey-light-2);
    box-shadow: inset;
  }
}
